body{
    font-family: "Inter", serif;
}
.tech-stack {
  margin: 5px 0;
}

.tech-label {
  font-weight: 600;
  margin-right: 2px;
  color: #16161b;
  font-weight: 700;
}

.pill {
  display: inline-block;
  padding: 6px 15px;
  margin: 3px 5px;
  border-radius: 50px;
  font-size: 0.9em;
  font-weight: 500;
  background: linear-gradient(145deg, #7d4df7, #5817ba);
  color: rgb(200, 185, 214);
  border: 1.5px solid #9136bf;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

/*
.pill:hover {
  transform: translateY(-1px);
}
*/

/* ========================= */
/*      FONT DEFINITIONS     */
/* ========================= */
.sue-ellen-francisco-regular {
    font-family: "Sue Ellen Francisco", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .inter-apple {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  .ibm-plex-mono-regular {
    font-family: "IBM Plex Mono", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ibm-plex-mono-semibold {
    font-family: "IBM Plex Mono", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .ibm-plex-mono-bold {
    font-family: "IBM Plex Mono", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .work-sans-apl {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  .sigmar-regular {
    font-family: "Sigmar", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  
  /* ========================= */
  /*     UNUSED CHECKPOINT     */
  /* ========================= */
  /* .checkpoint {} */
